<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= title %></title>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #fff;
            font-family: 'Montserrat', sans-serif;
        }

        .container {
            width: 600px;
            padding: 20px;
            background-color: #fefefe;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(128, 128, 128, 0.3);
            display: flex;
            flex-direction: column;
            transition: opacity 1s ease-in-out;
        }

        header {
            text-align: center;
            margin-bottom: 20px;
        }

        .logo {
            width: 150px;
            height: auto;
        }

        .content {
            display: flex;
            flex-wrap: wrap;
        }

        .column {
            flex: 1;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .column img {
            width: 130px;
            height: 130px;
        }

        .column p {
            font-size: 24px;
            text-align: center;
            color: #333;
        }

        .alert {
            padding: 10px;
            background-color: #ffeb3b;
            color: #333;
            border-radius: 4px;
            text-align: center;
        }

        .copyright {
            font-size: 14px;
            text-align: center;
            color: #999;
        }
    </style>
</head>

<body>
    <div class="container">
        <header>
            <div class="alert" id="countdown-alert">Страница будет автоматически закрыта через <span
                    id="timer">10</span> сек.</div>
        </header>
        <div class="content">
            <div class="column">
                <img src="<%= host %>/assets/images/logo.png" alt="V-JBAN">
            </div>
            <div class="column">
                <p><%= infoText %></p>
            </div>
        </div>
        <footer>
            <p class="copyright">&copy; 2023 V-JBAN. Все права защищены.</p>
        </footer>
    </div>

    <script>
        var counter = 10;
        var countdown = setInterval(function () {
            counter--;
            document.getElementById('timer').textContent = counter;
            if (counter === 0) {
                clearInterval(countdown);
                var container = document.querySelector('.container');
                container.style.opacity = '0';
                setTimeout(function () {
                    window.close();
                }, 1000);
            }
        }, 1000);
    </script>
</body>

</html>